﻿@{
    ViewBag.Title = "SignIn";
    @model Travix.Models.AccountUser
}

<h2>SignIn</h2>

<form method="post" action="@Url.Action("SignIn")">

    <div>
         @Html.ValidationSummary(false)
         @Html.AntiForgeryToken()
        <div>
           <input  placeholder="Username" type="text"
                   name="Login"/>
        </div>
        <div>
            <input type="password" placeholder="Password"
                   name="Password"/>
        </div>

        @Html.ValidationMessage("CustomError")

        <input type="submit" value="Sign in"/>
    </div>
</form>
