﻿@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
    if (c == culture)
    {
    @:checked="checked"
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="menu">
        @if (Request.IsAuthenticated)
        {
            <li>
                <a href="/User/Index">
                    User Info
                </a>
            </li>
             <li>
                <a href="/User/SingOut">
                    @Resources.Resource.SingOut
                </a>
            </li>

        }
        else
        {
            <li>
                <a href="/User/SignIn">
                    @Resources.Resource.LogIn
                </a>
            </li>
        }
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">

        @using (Html.BeginForm("SetCulture", "Global", FormMethod.Post))
        {
            <fieldset>
                <legend>@Resources.Resource.Lang</legend>
                <div class="control-group">
                    <div class="controls">
                        <label for="ru">
                            <input name="culture" id="ru" value="ru" type="radio" @selected("ru", culture)/>
                            Russian
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label for="en">
                            <input name="culture" id="en" value="en" type="radio" @selected("en", culture)/>
                            English
                        </label>
                    </div>
                </div>

            </fieldset>
        }
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <!--should be in js file-->
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);

    </script>
    <style>
        footer.footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        div.container {
            width: 800px;
            margin: 0 auto;
            text-align: center;
        }

        nav.menu {
        }
    </style>
</body>
</html>
